.App {
  margin: 0;
  padding: 0;

  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;

  min-width: 100vw;
  width: 100vw;
  max-width: 100vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  .header {
    margin: 0 !important;
    margin-top: 5% !important;
    padding: 0 !important;

    min-height: 30% !important;
    height: 30% !important;
    max-height: 30% !important;

    min-width: 80% !important;
    width: 80% !important;
    max-width: 80% !important;

    display: flex;
    flex-direction: row;

    background: grey;

    .header-total {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 30% !important;
      width: 30% !important;
      max-width: 30% !important;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .header-total-p-plus {
        margin: 0;
        padding: 2%;
        font-size: xx-large;
        color: green;
      }

      .header-total-p-minus {
        margin: 0;
        padding: 2%;
        font-size: xx-large;
        color: red;
      }

      .header-total-p-total {
        margin: 0;
        padding: 2%;
        font-size: xx-large;
        color: white;
      }
    }
    .header-categories {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 40% !important;
      width: 40% !important;
      max-width: 40% !important;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      .header-categories-row {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 20% !important;
        height: 20% !important;
        max-height: 20% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        background: lightgray;

        .header-categories-row-title {
          margin: 0 !important;
          margin-left: 3% !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 67% !important;
          width: 67% !important;
          max-width: 67% !important;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }

        .header-categories-row-count {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 20% !important;
          width: 20% !important;
          max-width: 20% !important;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .header-categories-row-options {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 10% !important;
          width: 10% !important;
          max-width: 10% !important;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
        }
        .header-categories-row-options-icon {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 100% !important;
          width: 100% !important;
          max-width: 100% !important;

          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
    .header-overview {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 100% !important;
      height: 100% !important;
      max-height: 100% !important;

      min-width: 30% !important;
      width: 30% !important;
      max-width: 30% !important;

      position: relative;

      display: flex;
      flex-direction: column;

      overflow-y: scroll;

      .header-overview-row {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 10% !important;
        height: 10% !important;
        max-height: 10% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        border: 0.1px solid grey;
        background: lightgray;

        .header-overview-row-title {
          margin: 0 !important;
          margin-left: 2% !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 48% !important;
          width: 48% !important;
          max-width: 48% !important;

          display: flex;
          align-items: center;
          justify-content: flex-start;
        }
        .header-overview-row-sum {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 30% !important;
          width: 30% !important;
          max-width: 30% !important;

          display: flex;
          align-items: center;
          justify-content: center;
        }
        .header-overview-row-options {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 20% !important;
          width: 20% !important;
          max-width: 20% !important;

          display: flex;
          align-items: center;
          justify-content: center;

          .header-overview-row-options-icon {
            margin: 0 !important;
            padding: 0 !important;

            min-height: 100% !important;
            height: 100% !important;
            max-height: 100% !important;

            min-width: 50% !important;
            width: 50% !important;
            max-width: 50% !important;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
  .table {
    margin: 0;
    margin-top: 0.5% !important;
    padding: 0;

    min-height: 50% !important;
    height: 50% !important;
    max-height: 50% !important;

    min-width: 80% !important;
    width: 80% !important;
    max-width: 80% !important;

    display: flex;
    flex-direction: column;

    position: relative;

    background: lightgray;

    .table-header {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 10% !important;
      height: 10% !important;
      max-height: 10% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .table-header-col {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 100% !important;
        height: 100% !important;
        max-height: 100% !important;

        min-width: 14.28571428571429% !important;
        width: 14.28571428571429% !important;
        max-width: 14.28571428571429% !important;

        border-right: 0.1px solid grey;

        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .table-corp {
      margin: 0 !important;
      padding: 0 !important;

      min-height: 90% !important;
      height: 90% !important;
      max-height: 90% !important;

      min-width: 100% !important;
      width: 100% !important;
      max-width: 100% !important;

      display: flex;
      flex-direction: column;

      overflow-y: scroll;

      .table-corp-row {
        margin: 0 !important;
        padding: 0 !important;

        min-height: 10% !important;
        height: 10% !important;
        max-height: 10% !important;

        min-width: 100% !important;
        width: 100% !important;
        max-width: 100% !important;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;

        border-top: 0.1px solid grey;


        .table-corp-row-col {
          margin: 0 !important;
          padding: 0 !important;

          min-height: 100% !important;
          height: 100% !important;
          max-height: 100% !important;

          min-width: 14.28571428571429% !important;
          width: 14.28571428571429% !important;
          max-width: 14.28571428571429% !important;

          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;

          .table-corp-row-col-options {
            margin: 0 !important;
            padding: 0 !important;

            min-height: 100% !important;
            height: 100% !important;
            max-height: 100% !important;

            min-width: 20% !important;
            width: 20% !important;
            max-width: 20% !important;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .stripped {
        background-color: grey;
      }
    }

    .btn-table {
      margin: 0;
      padding: 0;

      min-height: 10% !important;
      height: 10% !important;
      max-height: 10% !important;

      min-width: 5% !important;
      width: 5% !important;
      max-width: 5% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      position: relative;

      bottom: 10%;
      left: -5%;
    }
  }
  .modal-settings {
    margin: 0;
    padding: 0;

    min-height: 100vh !important;
    height: 100vh !important;
    max-height: 100vh !important;

    min-width: 100vw !important;
    width: 100vw !important;
    max-width: 100vw !important;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    background-color: rgba(0,0,0,0.8);

    .modal-settings-close-btn {
      margin: 0;
      padding: 0;

      min-height: 10% !important;
      height: 10% !important;
      max-height: 10% !important;

      min-width: 5% !important;
      width: 5% !important;
      max-width: 5% !important;

      display: flex;
      justify-content: center;
      align-items: center;

      background: black;
      position: absolute;
      top: 0;
      right: 0;
    }

    .modal-settings-content {
      margin: 0;
      padding: 0;

      min-height: 50% !important;
      height: 50% !important;
      max-height: 50% !important;

      min-width: 50% !important;
      width: 50% !important;
      max-width: 50% !important;

      background: white;
    }
  }
}